import { Config } from "@remotion/cli/config";

Config.setVideoImageFormat("png");
Config.setCodec("h264");
Config.setCrf(14);
Config.setPixelFormat("yuv420p");
Config.setScale(2);
Config.setJpegQuality(95);
Config.setConcurrency(null); // default to CPU count
